@model CompleteViewModel
@{
    ViewData["Title"] = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Complete Page (In development)</h1>

<div>@Model.CandidateName</div>
<div>@Model.Score</div>
