@font-face {
    font-family: 'Auch-3Bold';
    src: url('../fonts/Auch-3Bold.woff') format('woff'), url('../fonts/Auch-3Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Auch-1Light';
    src: url('../fonts/Auch-1Light.woff') format('woff'), url('../fonts/Auch-1Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Auch-2Medium';
    src: url('../fonts/Auch-2Medium.woff') format('woff'), url('../fonts/Auch-2Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrblack';
    src: url('../fonts/helveticaneuecyr-black-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
