:root {
    --fontMedium: 'Auch-2Medium', serif;
    --fontLight: 'Auch-1Light', serif;
    --fontBold: 'Auch-3Bold', serif;
    --alternativeFont: 'Arial' sans-serif;
    --helveticaFont: 'helveticaneuecyrblack';
    --brendCol: #190449; /* for title , text */
    --brendColLight: #79839a; /* for some text */
    --brendColPink: #cc1b9a;
    --bgColorBody: #f0f3fa;
    --colorIcon: #5517d2;
    --colorGray: #e9ecf6;
    --colorOrange: #efb472;
}
