.company {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 738px;
    height: 950px;
    background: url("../images/company-bg.png") top right no-repeat;
    background-size: contain;

    &__laptop {
        position: absolute;
        display: block;
        top: 102px;
        right: 60px;
        width: 631px;
        height: 539px;
        background: url("../images/laptop.png") top right no-repeat;
        background-size: contain;
    }

    &__elem {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: 1;
        width: 262px;
        height: 360px;
        background: url("../images/web-elem.png") top right no-repeat;
        background-size: contain;
    }

    &__icon {
        background-image: url("../images/company-icons.png");
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        animation-duration: 1.5s;
    }

    &__icon--arrow {
        animation-delay: 0.1s;
        top: 305px;
        left: 200px;
        width: 78px;
        height: 59px;
        background-position: -5px -5px;
    }

    &__icon--btn {
        animation-delay: 0.4s;
        top: 600px;
        left: 280px;
        width: 97px;
        height: 68px;
        background-position: -5px -74px;
    }

    &__icon--graph {
        animation-delay: 0.3s;
        top: 365px;
        left: 140px;
        width: 127px;
        height: 105px;
        background-position: -5px -152px;
    }

    &__icon--time {
        animation-delay: 0.2s;
        top: 340px;
        left: 240px;
        width: 87px;
        height: 64px;
        background-position: -5px -267px;
    }

    &__icon--circle {
        animation-duration: 1.5s;
        animation-delay: 0.7s;
        box-shadow: 0 0 12px hsla(232,9%,68%,.5);
        top: 230px;
        left: -50px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background: #fcdc67;
        background: -moz-linear-gradient(45deg, #fcdc67 1%, #fd8791 100%);
        background: -webkit-linear-gradient(45deg, #fcdc67 1%,#fd8791 100%);
        background: linear-gradient(45deg, #fcdc67 1%,#fd8791 100%);
    }
}
