.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0 -3px;
    padding: 0;

    &__li {
        list-style: none;
        padding: 0 3px;
        width: 33.3%;
    }

    &__link {
        display: block;
        margin: 0 auto;

        &:hover {
            .social__icon {
                fill: var(--brendColPink);
            }
        }
    }

    &__icon {
        width: 33px;
        height: 33px;
        fill: var(--colorIcon);
        transition: fill 0.5s;
    }
}
