<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Candidate Interviewer</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/styles.min.css">
</head>
<body>
    <div class="wrapper wrapper--work">
        <div class="content content--bg-top">
            <div class="content__outer content--bg-preview">
                <header class="header header--fixed">
                    <div class="container">
                        <div class="header__outer">
                            <div class="header__itm">
                                <a class="logo" href="index.html"</a>
                            </div>
                            <div class="header__itm">
                                <a class="header__btn js-toggleNavMobile" href="#"><span></span></a>
                                <div class="header__nav">
                                    <ul class="nav">
                                        <li class="nav__li"><a class="nav__link nav__link--active" asp-area="" asp-controller="Home" asp-action="Index">How it works</a></li>
                                        <li class="nav__li"><a class="nav__link" asp-area="" asp-controller="Home" asp-action="Interviews">Interviews</a></li>
                                        <li class="nav__li"><a class="nav__link" asp-area="" asp-controller="Home" asp-action="Results">Results</a></li>
                                        <li class="nav__li"><a class="nav__link" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="container">
                    <partial name="_CookieConsentPartial" />
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <footer class="footer">
                    <div class="container">
                        <div class="footer__outer">
                            <div class="footer__itm">
                                Denis Kovalyonok © Copyright 2019
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
