<li class="nav__li"><a class="nav__link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "nav__link--active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li class="nav__li"><a class="nav__link @(ViewContext.RouteData.Values["Action"].ToString() == "Interviews" ? "nav__link--active" : "")" asp-area="" asp-controller="Home" asp-action="Interviews">Interviews</a></li>
<li class="nav__li"><a class="nav__link @(ViewContext.RouteData.Values["Action"].ToString() == "Results" ? "nav__link--active" : "")" asp-area="" asp-controller="Home" asp-action="Results">Results</a></li>
<li class="nav__li"><a class="nav__link @(ViewContext.RouteData.Values["Action"].ToString() == "Contacts" ? "nav__link--active" : "")" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a></li>
