.message {
    &__wrap {
        margin: 0 auto;
        max-width: 1030px;
    }

    &__top {
        background: #fff url("../images/message-bg.png") top center no-repeat;
        background-size: cover;
        min-height: 530px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }

    &__bottom {
        background: #fffefe;
        padding: 55px 20px 50px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    &__slim {
        margin-left: 15px;
        margin-right: 15px;
    }

    &__answers {
        padding: 20px 10px;
    }

    &__answer {
        font-size: 20px;
    }

    &__container {
        padding-top: 40px;
    }

    &__area {
        width: 100%;
        height: 120px;
    }

    &__button {
        margin-top: 60px;
    }

    &__candidate-info {
        display: flex;
        padding: 0px 25px 15px 25px;
        font-size: 20px;

        .info-title {
            margin-left: 15px;
        }
    }

    &__candidate-ctr {
        margin-bottom: 75px;
        margin-top: 75px;
    }

    &__correct-answer {
        color: green;
    }

    &__incorrect-answer {
        color: red;
        font-weight: bold;
    }
}
