@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="company">
    <div class="company__laptop"></div>
    <div class="company__elem"></div>
    <i class="company__icon company__icon--arrow bounceInDown animated"></i>
    <i class="company__icon company__icon--btn bounceInDown animated"></i>
    <i class="company__icon company__icon--graph bounceInDown animated"></i>
    <i class="company__icon company__icon--time bounceInDown animated"></i>
    <i class="company__icon company__icon--circle bounceInDown animated"></i>
</div>

<section class="about about--company">
    <div class="container">
        <div class="about__desc">
            <div class="about__desc-wrap">
                <h2 class="title-h2">Candidate Interviewer</h2><span class="about__caption">Automatic interview service</span>
            </div>
            <a class="btn-a" asp-area="" asp-controller="Home" asp-action="Interviews">More information</a>
        </div>
    </div>
</section>

<section class="overview">
    <div class="container">
        <div class="overview__outer">
            <div class="overview__itm">
                <div class="overview__desc">
                    <h2 class="title-h2">Overview</h2>
                    <h3 class="title-h3">Great technical tests</h3>
                    <h3 class="title-h3">Expert review for results</h3>
                    <h3 class="title-h3">Statistics and history</h3>
                    <h3 class="title-h3 overview__platforms">We work on any platform !</h3>

                    <div class="platform">
                        <i class="platform__icon">
                            <img class="platform__img" src="~/images/ic-web.png" />
                        </i>
                        <i class="platform__icon">
                            <img class="platform__img" src="~/images/ic-android.png" />
                        </i>
                        <i class="platform__icon">
                            <img class="platform__img" src="~/images/ic-apple.png" />
                        </i>
                        <i class="platform__icon">
                            <img class="platform__img" src="~/images/ic-api.png" />
                        </i>
                    </div>
                </div>
            </div>
            <div class="overview__itm overview__itm--img">
                <img class="overview__img" src="~/images/bg-overview.png" />
            </div>
        </div>
    </div>
</section>

<section class="tools">
    <div class="container">
        <div class="tools__outer tools__outer--left">
            <div class="tools__itm">
                <span class="tools__ttl">iOS Development</span>
                <p class="tools__text">We test modern programming languages such as Swift and Objective-C and proven technologies and approaches that allow to easily extend and scale our products</p>
            </div>
            <div class="tools__itm">
                <span class="tools__ttl">UI/UX Design</span>
                <p class="tools__text">We have tests for prototyping, branding, UI and UX design for web and  mobile products. Our approach is simple: we focus on how actual people will use our  products</p>
            </div>
            <div class="tools__itm">
                <span class="tools__ttl">Project Management</span>
                <p class="tools__text">We can test dedicated project managers ensure that all your expectations and requirements are met.</p>
            </div>
        </div><img class="tools__img" src="~/images/bg-tools.png">
        <div class="tools__outer tools__outer--right">
            <div class="tools__itm">
                <span class="tools__ttl">Android  Development</span>
                <p class="tools__text">We test Android developers in Java, Kotlin and Xamarin.</p>
            </div>
            <div class="tools__itm">
                <span class="tools__ttl">Web Development</span>
                <p class="tools__text">We provide both frontend and backend development tests. Our web development test team specializes in Ruby on Rails, JavaScript, PHP, AngularJS, React, Node.js, ASP.NET and Elixir.</p>
            </div>
            <div class="tools__itm">
                <span class="tools__ttl">Quality Assurance</span>
                <p class="tools__text">Our quality control team  verifies that developers meets business objectives, and ensures that  test results is realy greate</p>
            </div>
        </div>
    </div>
</section>

<section class="process">
    <div class="container">
        <div class="process__desc">
            <h2 class="title-h2">How it Works</h2>
            <h3 class="title-h3">Candidates pass pre-prepared technical tests</h3>
            <h3 class="title-h3">Employers get scores, ratings and reviews for any required specialists</h3>
            <h3 class="title-h3">According to the review employer can connect with the best candidates</h3>
        </div>
    </div>
</section>

<section class="examples">
    <div class="container">
        <h2 class="title-h2">Test Areas</h2>
        <div class="examples__outer">
            <div class="slider">
                <div class="slider__outer owl-carousel owl-carousel-project owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            @if (Model.Categories.Any())
                            {
                                for (int i = 0; i < Model.Categories.Count; i++)
                                {
                                    @Html.HiddenFor(m => m.Categories[i].Id)

                                    <div class="owl-item">
                                        <div class="slider__itm">
                                            <div class="connection connection--slider">
                                                <div class="connection__outer">
                                                    <div class="connection__top">
                                                        <div class="connection__wrap">
                                                            <img class="platform__img" src="~/images/@Model.Categories[i].Logo" />
                                                        </div>
                                                        <div class="connection__desc">
                                                            <span class="connection__ttl">@Model.Categories[i].Name</span>
                                                            <p class="connection__text">@Model.Categories[i].Description</p>
                                                        </div>
                                                    </div>
                                                    <div class="connection__bottom">
                                                        <a class="connection__link connection__link--arrow" asp-area="" asp-controller="Home" asp-action="Interviews">
                                                            MORE INFORMATION<span class="connection__link-icon"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="technical">
    <div class="container pad_bottom">
        <h2 class="title-h2">Our Process Flow</h2>
        <h3 class="title-h3">Technical scheme for our work flow.</h3>
        <img class="technical__img" src="~/images/process-flow.png" />
    </div>
</section>

<div class="content--works-bg">
    <section class="review">
        <div class="review__wrap">
            <div class="container">
                <div class="review__container">
                    <div class="review__carousel">
                        <div class="review__carousel-outer owl-carousel owl-carousel-review owl-loaded">
                            <div class="owl-stage-outer">
                                <div class="owl-stage review__carousel-clients">
                                    <div class="owl-item review__carousel-client">
                                        <div class="review__carousel-itm">
                                            <div class="review__carousel-wrap">
                                                <img class="review__carousel-img" src="~/images/av-client-one.png">
                                                <span class="review__carousel-name">Yoshitomo Nara</span>
                                                <div class="review__carousel__link-wrap"><a class="review__carousel-company" href="#">INTISOFTWARE LTD</a></div>
                                                <p class="review__carousel-text">Great platform! We have found a lot of candidates here.</p>
                                            </div>
                                        </div>
                                    </div><div class="owl-item review__carousel-client">
                                        <div class="review__carousel-itm">
                                            <div class="review__carousel-wrap">
                                                <img class="review__carousel-img" src="~/images/av-client-two.png">
                                                <span class="review__carousel-name">Jakob Edmundson</span>
                                                <div class="review__carousel__link-wrap"><a class="review__carousel-company" href="#">ARISOFT GMBH</a></div>
                                                <p class="review__carousel-text">This team works fast, professionally and reliably !</p>
                                            </div>
                                        </div>
                                    </div><div class="owl-item review__carousel-client">
                                        <div class="review__carousel-itm">
                                            <div class="review__carousel-wrap">
                                                <img class="review__carousel-img" src="~/images/av-client-three.png">
                                                <span class="review__carousel-name">Jane Smith</span>
                                                <div class="review__carousel__link-wrap"><a class="review__carousel-company" href="#">PERFORMSOFT LTD</a></div>
                                                <p class="review__carousel-text">Reports always on time and with high quality.</p>
                                            </div>
                                        </div>
                                    </div><div class="owl-item active review__carousel-client">
                                        <div class="review__carousel-itm">
                                            <div class="review__carousel-wrap">
                                                <img class="review__carousel-img" src="~/images/av-client-four.png">
                                                <span class="review__carousel-name">Joan Miro</span>
                                                <div class="review__carousel__link-wrap"><a class="review__carousel-company" href="#">EMBS GROUP GMBH</a></div>
                                                <p class="review__carousel-text">Excellent quality of work and technical support !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav disabled">
                                <button type="button" role="presentation" class="owl-prev">
                                    <span aria-label="Previous">‹</span>
                                </button>
                                <button type="button" role="presentation" class="owl-next">
                                    <span aria-label="Next">›</span>
                                </button>
                            </div>
                            <div class="owl-dots">
                                <button role="button" class="owl-dot">
                                    <span></span>
                                </button>
                                <button role="button" class="owl-dot">
                                    <span></span>
                                </button>
                                <button role="button" class="owl-dot">
                                    <span></span>
                                </button>
                                <button role="button" class="owl-dot active">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="relations">
        <div class="container">
            <div class="relations__outer">
                <div class="relations__itm relations__itm--img"><img class="relations__img" src="~/images/ic-idea.png"></div>
                <div class="relations__itm">
                    <div class="relations__desc">
                        <h2 class="title-h2">Are you ready to start?</h2>
                        <div class="relations__wrap">
                            <h3 class="title-h3">There is no better place to test your skills than Candidate Interviewer. Please select your tech area and start the interview.</h3>
                            <a class="btn-b" asp-area="" asp-controller="Home" asp-action="Interviews"><span>Start Interview</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
