@{
    ViewData["Title"] = "Home Page";
}

<div class="company">
    <div class="company__laptop"></div>
    <div class="company__elem"></div><i class="company__icon company__icon--arrow bounceInDown animated"></i><i class="company__icon company__icon--btn bounceInDown animated"></i><i class="company__icon company__icon--graph bounceInDown animated"></i><i class="company__icon company__icon--time bounceInDown animated"></i><i class="company__icon company__icon--circle bounceInDown animated"></i>
</div>
