@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Project is under development process. Not all source code uploaded in the GitHub repository for now.</p>
</div>
