@model InterviewsViewModel

@using DK.DataAccess.Enums;

@{
    ViewData["Title"] = "Interviews";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mobileCategories = Model.Categories?.Where(e => e.Type == AreaType.MobileDevelopment)?.ToList();
    var webCategories = Model.Categories?.Where(e => e.Type == AreaType.WebDevelopment)?.ToList();
    var qaCategories = Model.Categories?.Where(e => e.Type == AreaType.QualityAssurance)?.ToList();
}

<div class="service">
    <div class="service__phone"></div><i class="service__icon service__icon--cube-blue bounceInDown animated"></i><i class="service__icon service__icon--cube-yellow bounceInDown animated"></i><i class="service__icon service__icon--platform bounceInDown animated"></i>
</div>

<section class="about about--service">
    <div class="container">
        <div class="about__desc">
            <h2 class="title-h2">Select Interview</h2>
            <h3 class="title-h3">Please select required categories for you and start the test!</h3>
        </div>
    </div>
</section>

<section class="model">
    <div class="container">
        <h2 class="title-h2">Difficulty levels</h2>
        <h3 class="title-h3">To meet the requirements of each unique client, we offer three difficulty levels – Base, Intermediate and Advanced.</h3>
        <div class="model__wrap">
            <div class="model__outer">
                <div class="model__itm">
                    <div class="model__preview model__preview--team">
                        <div class="model__desc">
                            <div class="model__link-outer"><a class="model__link" href="#">Base Exam</a></div>
                            <p class="model__text">Exams for base knowleage level. Perfect for begginers.</p>
                        </div>
                    </div>
                </div>
                <div class="model__itm">
                    <div class="model__preview model__preview--product">
                        <div class="model__desc">
                            <div class="model__link-outer"><a class="model__link" href="#">Intermediate Exam</a></div>
                            <p class="model__text">Medium difficulty exams for candidates with middle experience level.</p>
                        </div>
                    </div>
                </div>
                <div class="model__itm">
                    <div class="model__preview model__preview--service">
                        <div class="model__desc">
                            <div class="model__link-outer"><a class="model__link" href="#">Advanced Exam</a></div>
                            <p class="model__text">The most complex exams for candidates with great experience level.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="development separator"></div>

@{ 
    await Html.RenderPartialAsync("_CategoryList", mobileCategories);
    await Html.RenderPartialAsync("_CategoryList", webCategories);
    await Html.RenderPartialAsync("_CategoryList", qaCategories);
}

<section class="about-ci">
    <div class="container">
        <h2 class="title-h2">Get idea for new test?</h2><a class="btn-b"  asp-area="" asp-controller="Home" asp-action="Contacts"><span>Let us know</span></a>
    </div>
</section>